<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        * {margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding: 3px;}
        nav {background-color: #fafafa;
            border:1px solid #aaa;
            padding: 15px;}
        ul {list-style: none;
            text-align: center;}
        li {display: inline-block;
            margin-right: 20px;}
        li a {color: #000;}
    </style>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Quizzes</a></li>
        <li><a href="/add">Add</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href="/register">Register</a></li>
        <button id="logout-button">Log Out</button>
    </ul>
</nav>

<h1>Attempt summary</h1>
<ul id="attempt-details-list">
    <li id="time-attempted"></li>
    <li id="points-gained"></li>
    <li id="max-points"></li>
</ul>


</body>
<script>

    const logOutButton = document.getElementById("logout-button");
    logOutButton.addEventListener('click', () => localStorage.removeItem('user'));

    const attemptId = window.location.pathname.substr(10);

    fetch("http://quizit-europe.herokuapp.com/api/quizzes_attempts/id/"+attemptId+"/summary")
    .then(res => {
        if(!res.ok) {throw res}
        return res.json()
    })
    .then(res => {
        const titleElement = document.querySelector('title');
        titleElement.innerText = 'Attempt no.' + res.attemptId;
        const timeLi = document.querySelector('#time-attempted');
        timeLi.innerText = 'Attempted: ' + res.attemptTime;
        const scoreLi = document.querySelector('#points-gained');
        scoreLi.innerText = 'Points gained: ' + res.pointsGained;
        const maxPointsLi = document.querySelector('#max-points');
        maxPointsLi.innerText = 'Max points: ' + res.maxPointsCount;
    })
    .catch(err => {
        console.log(err);
        alert('Something went wrong');
    })
</script>
</html>