<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        * {margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding: 3px;
            font-family: "Segoe UI"}
        nav {background-color: #2a99f5;
            border:1px solid #aaa;
            padding: 15px;
            color: #fff;}
        nav ul {list-style: none;
            text-align: center;}
        nav li {display: inline-block;
            margin-right: 20px;}
        a {color: #fff;}
        nav li button{background-color: #fff;
            color: #2a99f5;
            border:none;}
        nav li button:hover{cursor: pointer;}
        .introduction{color: #2a99f5; margin-top: 10px; margin-bottom: 10px}
        button {background-color: #fff;
            color: #2a99f5;
            border-color: #2a99f5;}
        button:focus{outline: #227dc7;}
        button:hover{cursor: pointer}
        .question-div{border-bottom:3px solid #2a99f5}
        .question-div label>label{display: block; border-bottom: 1px solid #2a99f5; width: 500px}
        .question-div input[type=checkbox]{margin-left: 10px}
        .question-div input[type=radio]{margin-left: 10px}
        .comment-div{margin-top: 10px}
        .comment-div ul{list-style: none; margin-top: 3px; margin-bottom: 3px}
        .comment-div li{border-bottom: 1px solid#2a99f5; width: 500px}
        #quiz-info-div{color: #2a99f5}
    </style>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Quizzes</a></li>
        <li class="for-validated" style="display: none"><a href="/add">Add</a></li>
        <li class="for-validated" style="display: none"><a href="/myQuizzes">My Quizzes</a></li>
        <li class="for-unvalidated" style="display: none"><a href="/login">Log In</a></li>
        <li class="for-unvalidated" style="display: none"><a href="/register">Register</a></li>
        <li class="for-validated" id="user-welcome" style="display: none"></li>
        <li class="for-validated" style="display: none"><button id="logout-button">Log Out</button></li>
    </ul>
</nav>

<h1 class="introduction">Solve this quiz!</h1>
<div id="quiz-info-div">
    <ul>
        <li id="quiz-title">Title: </li>
        <li id="quiz-author">Author: </li>
        <li id="quiz-categories">Categories: </li>
    </ul>
</div>

<div id="questions-div" style="display:none" class="for-validated" >
    <button id="submit-attempt">Finished!</button>
    <button id="go-to-attempt" style="display:none">Go to results</button>
</div>
<p class="for-unvalidated" style="display: none; color: #2a99f5">You need to be logged in to solve quizzes</p>

</body>

<script>
    const apiURL = "http://localhost:8080/api/";
    let user = {};
    const validateUser = () => {
        user = {...JSON.parse(localStorage.getItem('user'))};
        if(user.id) {
            const forValidatedElements = document.querySelectorAll(".for-validated");
            forValidatedElements.forEach(element => {
                element.style.display= 'inline';
            });
            const userWelcome = document.getElementById("user-welcome");
            userWelcome.innerText = "Hello\xa0" + user.username;
            const logOutButton = document.getElementById("logout-button");
            logOutButton.addEventListener('click', () => {
                localStorage.removeItem('user');
                window.location = '/';
            });
        } else {
            const forUnValidatedElements = document.querySelectorAll(".for-unvalidated");
            forUnValidatedElements.forEach(element => {
                element.style.display= 'inline';
            });
        }
    }
    validateUser();

    const submitAttemptButton = document.querySelector('#submit-attempt');

    async function getAllUrls(urls) {
        try {
            const data = await Promise.all(
                urls.map(
                    url =>
                        fetch(apiURL+url)
                            .then(res => res.json())
                ));
            return (data)
        } catch (error) {
            console.log(error)
            throw (error)
        }
    }

    let quiz = {};
    let categories = [];
    let questions = [];
    let author = '';
    let answers = [];
    let attemptId = '';

    const populateComments = (id, parent) => {
        let comments = [];
        fetch(apiURL+ 'comments/question/' + id)
        .then(res => res.json())
        .then(res => comments= [...res])
        .then(() => {
            const commentsUl = document.createElement('ul');
            commentsUl.innerText = "Comments: ";
            comments.forEach(comment => {
                const commentLi = document.createElement('li');
                commentLi.innerText=comment.contents;
                commentsUl.appendChild(commentLi);
            });
            parent.appendChild(commentsUl);
        });
    }

    const populatePage = id => {
        fetch(apiURL + "quizzes/" + id + "?include_private=true")
            .then(res => res.json())
            .then(res => quiz = {...res})
            .then(() =>{
                const urls = [];
                urls.push("users/"+quiz.author);
                quiz.categories.forEach(categoryId => {
                    urls.push("categories/"+ categoryId)
                });
                quiz.questions.forEach(questionId => {
                    urls.push("questions/"+ questionId)
                });
                getAllUrls(urls)
                    .then(res => {
                        author = {...res[0]};
                        for(let i=1; i<=quiz.categories.length;i++) {
                            categories.push(res[i]);
                        }
                        for(let i=quiz.categories.length+1; i<=Object.keys(res).length-1; i++) {
                            questions.push(res[i]);
                        }
                    })
                    .then(() => {
                        const answersUrls = [];
                        questions.forEach(question => {
                            answersUrls.push('questions/'+ question.id + '/answers');
                        });
                        getAllUrls(answersUrls)
                            .then(res => answers = [...res])
                            .then(() => {
                                const titleElement = document.querySelector("title");
                                titleElement.innerText = quiz.title;
                                const quizTitle = document.querySelector("#quiz-title");
                                quizTitle.innerText += "\xa0" + quiz.title;
                                const quizAuthor = document.querySelector("#quiz-author");
                                quizAuthor.innerText += "\xa0" + author.username;
                                const quizCategories = document.querySelector("#quiz-categories");
                                categories.forEach(category => {
                                    quizCategories.innerText+= "\xa0" + category.name;
                                });
                                const questionsDiv = document.querySelector("#questions-div");

                                questions.forEach((question, i) => {
                                    const questionDiv = document.createElement('div');

                                    questionDiv.setAttribute('class', 'question-div');
                                    questionDiv.dataset.id = question.id;

                                    const questionP = document.createElement('p');
                                    questionP.innerText = "Question nr."+ (i+1) +": \n" + question.contents;

                                    questionDiv.appendChild(questionP)

                                    if(question.isClosed && !question.isMultipleChoice){
                                        const labelForAnswers = document.createElement('label');
                                        labelForAnswers.innerText='Answers: \n';
                                        answers[i].forEach(answer => {
                                            const labelForRadio = document.createElement('label');
                                            labelForRadio.innerText = answer.contents;
                                            const inputRadio = document.createElement('input');
                                            inputRadio.setAttribute('type', 'radio');
                                            inputRadio.setAttribute('value', answer.id);
                                            inputRadio.setAttribute('name', ('question'+question.id));
                                            labelForRadio.appendChild(inputRadio);
                                            labelForAnswers.appendChild(labelForRadio);
                                        });
                                        questionDiv.dataset.isClosed = 'yes';
                                        questionDiv.appendChild(labelForAnswers);

                                    } else if (question.isClosed && question.isMultipleChoice) {
                                        const labelForAnswers = document.createElement('label');
                                        labelForAnswers.innerText='Answers: \n';

                                        answers[i].forEach(answer => {
                                            const labelForRadio = document.createElement('label');
                                            labelForRadio.innerText = answer.contents;
                                            const inputRadio = document.createElement('input');
                                            inputRadio.setAttribute('type', 'checkbox');
                                            inputRadio.setAttribute('value', answer.id);
                                            inputRadio.setAttribute('name', ('question'+question.id));
                                            labelForRadio.appendChild(inputRadio);
                                            labelForAnswers.appendChild(labelForRadio);
                                        });
                                        questionDiv.dataset.isClosed = 'yes';
                                        questionDiv.appendChild(labelForAnswers);

                                    } else {
                                        const labelAnswerTextArea = document.createElement("label");
                                        labelAnswerTextArea.innerText = 'Answer: \n';
                                        const answerTextArea = document.createElement("textarea");
                                        answerTextArea.setAttribute('class', 'answer-textarea');
                                        labelAnswerTextArea.appendChild(answerTextArea);
                                        questionDiv.dataset.isClosed = 'no';

                                        questionDiv.appendChild(labelAnswerTextArea);
                                    }

                                    const commentInput = document.createElement('input');
                                    commentInput.setAttribute('type', 'text');
                                    commentInput.setAttribute('class', 'comment-input');
                                    commentInput.setAttribute('placeholder', 'Comment');

                                    const submitCommentButton = document.createElement('button');
                                    submitCommentButton.innerText= "Add Comment";
                                    submitCommentButton.addEventListener('click', e => {
                                        e.preventDefault();
                                        const commentData = {
                                            "author": user.id,
                                            "contents": e.target.previousSibling.value,
                                            "id": 0,
                                            "issuedTime": null,
                                            "question": question.id
                                        }
                                        const commentsOptions = {
                                            method: "POST",
                                            headers: {
                                                'Content-Type': 'application/json'
                                            },
                                            body: JSON.stringify(commentData)
                                        }
                                        fetch(apiURL + "comments", commentsOptions)
                                        .then(res => {
                                            if(!res.ok) {throw res}
                                            alert('Comment added');
                                        })
                                        .catch(err => {
                                            alert('Something went wrong')
                                            console.log(err);
                                        })
                                    });

                                    const commentDiv = document.createElement('div');
                                    commentDiv.setAttribute('class', 'comment-div');
                                    populateComments(question.id, commentDiv);
                                    commentDiv.appendChild(commentInput);
                                    commentDiv.appendChild(submitCommentButton);

                                    questionDiv.appendChild(commentDiv);

                                    questionsDiv.appendChild(questionDiv);
                                });
                            });
                    });
            });
    }

    const handleAttemptSubmit = e => {
        e.preventDefault();
        const data = {
            "attemptAnswers": [],
            attemptTime: null,
            "id": 0,
            "quiz": quiz.id,
            "user": user.id
        };
        const options = {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }
        fetch(apiURL+"quizzes_attempts", options)
        .then(res => {
            if(!res.ok) {throw res}
            return res.json()
        })
        .then(res => attemptId = res.id)
            .then(() => {
                const questionDivs = document.querySelectorAll('.question-div');
                questionDivs.forEach(questionDiv => {
                    if(questionDiv.dataset.isClosed === 'yes') {
                        const answerInputs = document.querySelectorAll("div[data-id='" + questionDiv.dataset.id + "'] input[name='question" + questionDiv.dataset.id + "']");
                        answerInputs.forEach(input => {
                            if (input.checked) {
                                const answerData ={
                                    "answerGiven": parseInt(input.value),
                                    "attempt": attemptId,
                                    "id": 0,
                                    "question": parseInt(questionDiv.dataset.id)
                                };
                                const answerOptions = {
                                    method: "POST",
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(answerData)
                                }
                                fetch(apiURL + 'quizzes_attempts/answer', answerOptions)
                                .then(res => {
                                    if(!res.ok) {throw res}
                                })
                                .catch(err => console.log(err))
                            }
                        });
                    } else {
                        const answerData = {
                            "answerGiven": null,
                            "attempt": attemptId,
                            "id": 0,
                            "question": parseInt(questionDiv.dataset.id)
                        };
                        const answerOptions = {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(answerData)
                        }
                        fetch(apiURL + 'quizzes_attempts/answer', answerOptions)
                            .then(res => {
                                if(!res.ok) {throw res}
                            })
                            .catch(err => {
                                console.log(err);
                                alert('Something went wrong');
                            })
                    }
                });
            })
            .then(() => {
                const goToButton = document.querySelector('#go-to-attempt');
                goToButton.style.display = 'inline';
                goToButton.addEventListener('click', () => window.location = '/attempts/' + attemptId)
            })
        .catch(err => {
            console.log(err);
            alert('Something went wrong');
        })
    }

    submitAttemptButton.addEventListener('click', handleAttemptSubmit);
    populatePage(window.location.pathname.substr(9))

</script>
</html>